:root{
    --text-primary: #C12D18;
    --text-secondary: #222222;
    --paragraph-primary: #FFFFFF;
    --link-primary: #C13216;
    --background-footer: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    --background-home: #F0F0F0;
}